body{
    font-family:Poppins;
}

h1{
    color:rgb(79, 201, 201);
     font-size: 44px;
     align-items: center;
     justify-content: center;
     text-align: center;
     font-family:Poppins;
}

.container{
    height:400px;
    width:600px;
    text-align: center;
    justify-content:center;
    align-items: center;
    border:2px solid rgb(79, 201, 201);
    margin-left:250px;
    margin-top:100px;
    box-shadow: 0 12px 24px  rgba(79,209,197,.64);
}


#location,#Jobrole{
    border:2px solid rgb(79, 201, 201);
}

p{
    color: rgb(79, 201, 201);
    font-weight: bolder;
}
